<div class="container">
  <div class="row" style="text-align:center">
      <div class="col-lg-9" style="margin-left:auto; margin-right:auto; width:auto; margin-top:auto; padding:10%;">
    <p class="gracias"><strong>Gracias <%= current_user.name %> por comprar con nosotros, pronto nos estaremos comunicando para arreglar el envio.</strong><br>
      En caso de que no nos comuniquemos en las proximas 24hs comunicarse a:<br>
    <strong>horneroceramica@gmail.com</strong> o al <strong>2944661505</strong></p><br>
    <%= link_to "Seguir Comprando", root_path, class:"carro" %>
    </div>
  </div>
</div>
