<div class="container">
  <div class="row" style="text-align:center">
      <div class="col-lg-9" style="margin-left:auto; margin-right:auto; width:auto; margin-top:auto; padding:10%;">
    <p class="gracias">Gracias <%= current_user.name %> por comprar con nosotros, pronto nos estaremos comunicando para arreglar el envio.<br>
      En caso de que no nos comuniquemos en las proximas 24hs, comunicarse a:<br>
    horneroceramica@gmail.com o al 2944661505</p><br>
    <%= link_to "Seguir Comprando", root_path, class:"carro" %>
    </div>
  </div>
</div>
