<div class="registro">
  <h6 class="reg-titulo">Iniciar Sesion</h6>
  <form class="simple_form new_user" id="new_user" novalidate="novalidate" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <div class="inputs">
        <label class="email optional" for="user_email">Email</label>
        <input autocomplete="email" class="reg-input" autofocus="autofocus" type="email" value="" name="user[email]" id="user_email">
        <label class="password optional" for="user_password">Contraseña</label>
        <input autocomplete="current-password" class="reg-input" placeholder="****" type="password" name="user[password]" id="user_password">
        <label class="boolean optional checkbox" for="user_remember_me">
          <input class="boolean optional" type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">Recordarme</label><br>
      <input type="submit" name="commit" value="Iniciar Sesion" class="reg-btn" data-disable-with="Iniciar Sesion">
  </form>
</div>
