/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

a:hover{
  text-decoration: none;
}
.card-price{
  color: gray;
}
.card-body{
  border: none;
}
.card-title {
  color: #000;
}
.cd a:hover{
  text-decoration: none;
}
.card1:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card1{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    text-align: center;
}
.list-group a{
  color: black;
}
.list-group a:hover{
  text-decoration: none;
  color: gray;
}
.row .titulo {
  margin-left:auto;
  margin-right:auto;
  margin-top: 2%;
  font-size: 25px;
}
.row .precio{
  margin-left:auto;
  margin-right:auto;
  margin-top: 2%;
  color:gray;
}

.carro{
  margin-left:auto;
  margin-right:auto;
  margin-top: 2%;
  background-color: orange;
  color: #FFE;
  border-radius: 10px;
  padding: 1.5%;
  text-align: center;
  width: max-content;
}
.carro:hover{
  text-decoration: none;
  background-color: #d08701
}
.row .carro-ds{
  margin-left:auto;
  margin-right:auto;
  margin-top: 2%;
  background-color: #f9daa2;
  color: #FFE;
  border-radius: 10px;
  padding: 1.5%;
  text-align: center;
  width: max-content;
}
.row .carro-ds:hover{
  text-decoration: none;
}
.row .descripcion{
  margin-left:auto;
  margin-right:auto;
  margin-top: 5%;
  color: #939ba2;
  text-align: center;
}
.registro{
  margin-left: auto;
  margin-right: auto;
  width: min-content;
  text-align: center;
  margin-top: 1.5%;
  padding: 3%;
  border-radius: 10px;
  background-color: #fbfbfbe8;
}
.inputs{
  text-align: center;
}
.reg-input{
  margin-bottom: 10%;
  border-radius: 5px;
  border-color: #e0e0e0;
  border-style: solid;
  border-width: medium;
  background-color: #fff;
  text-align: center;
  color: gray;
  font-style: italic;
}
.inputs p{
  font-size: 11px;
  color: green
}
.in1:valid{
  border-color: #b8f5b8;
  outline: none;
}
.in2{
  outline: none;
}
.registro label{
  font-size: 10px;
}
.reg-titulo{
  margin-bottom: 10%;
  font-size: 20px;
}
.reg-btn{
  background-color: orange;
  border: none;
  padding: 2%;
  color: #fff;
  border-radius: 5px;
}
.reg-btn:hover{
  cursor: pointer;
  background-color: #d28800;
}
.carrit{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 3%;
}
.car li{
  list-style: none;
  display: inline-flex;
  text-align: center;
  padding: 1%;
}
.car li h3{
  margin-top: 10%;
  margin-left: 10%;
  color: gray;
}
.car{
  margin-top: 5%;
  margin-right: auto;

}
.total{
  margin-left: auto;
  padding: 0% 3%;
  color: black;
  margin-top: 20px;;
  margin-right: auto;
  text-align: center;
  width: fit-content;
}
.car a:hover{
  opacity: 0.5;
}
.car li a{
  margin-top: 10%;
  margin-left: 10%;
  color: red;
}
