
<div class="container">

  <div class="row">
    <!-- /.col-lg-3 -->

    <div class="col-lg-9" style="margin-left:auto; margin-right:auto">

            <form id="search-form" action="/products" accept-charset="UTF-8" method="get" class="form-inline my-2 my-lg-0" style="padding: 20px; width: fit-content; margin-left:auto; margin-right:auto;">
          <input name="utf8" type="hidden" value="✓">
          <input type="text" name="search" id="search" placeholder="Buscar un producto" class="form-control mr-sm-2" style="text-align:center">
          </form>


      <div class="row">

        <% @products.each do |f| %>
        <div class="col-lg-4 col-md-6 mb-4 cd">
          <%= link_to(f) do %>
          <div class="card1">
              <% if f.photo.present? %>
                <%= image_tag f.photo.url(:medium), style:"margin-left:auto; margin-right:auto", class:"card-img-top", alt:"" %>
              <% end %>
            <div class="card-body">
              <h4 class="card-title">
                <%= f.name %>
              </h4>
              <h5 class="card-price">$<%= f.price.round%></h5>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
