<!-- Footer -->
<footer class="page-footer">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">

    HorneroCeramica © 2019 Todos los derechos Reservados
  </div>

  <!-- Copyright -->

</footer>
<!-- Footer -->
